body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#car_table th {
  text-align: center;
  width: 10%;
  height: 35px;
}

p {
  font-family: Georgia;
  font-size: large;
  padding: 20px;
}

a {
  color: #00B7FF;
}
